/* REACT TABS Styles */


.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  /* border-bottom: 1px solid #aaa; */
  /* margin: 0 0 10px; */
  /* padding: 0; */
}

.react-tabs__tab {
  display: inline-block;
  /* border: 1px solid transparent; */
  border-bottom: none;
  position: relative;
  list-style: none;
  padding: 11px 22px;
  cursor: pointer;
  background-color:#ff3b2e !important;
  color: white !important;
  font-size: 32px;
  font-weight: bold;
}

.react-tabs__tab--selected {
  background: #ffffff;
  border-color: #aaa;
  color: black;
  border-radius: 20px 20px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  /* background: #fff; */
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.test-class{
  @apply flex pb-2 pr-4 flex-row gap-[22px] bg-bodygray-212 w-3/5 justify-between rounded-bl-[20px] absolute right-5;
}